@page "/"

<h1>DNP Assignment 1</h1>

<AuthorizeView>
    <NotAuthorized>
        <p>
            Login to access all the functionalities of the app<br><br>
            Default login level 1 (Username: user, Password: 123456)<br>
            With this user you can only view adults<br><br>
            Default login level 2 (Username: admin, Password: 123456)<br>
            With this user you can view, add and delete adults.
        </p>
    </NotAuthorized>
</AuthorizeView>

